@charset "utf-8";

*
{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	list-style: none;
}

html, body
{
	width: 100%;
	height: 100%;
}

#display
{
	width: 100%;
	height: 100%;

	margin: auto;

	background: #67161C;

	overflow: hidden;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.tween
{
	backface-visibility: none;
}

.sky
{
	width: inherit;
	height: inherit;

	margin: auto;

/* 	-webkit-filter: blur(2px);
	filter: blur(2px); */
}

.lib
{
	width: 0;
	height: 0;
	position: absolute;
	visibility: hidden;
	overflow: hidden;
}

.snow-container
{
	position: absolute;
	transform-origin: 50% 50%;
}

.snow
{
	width: inherit;
	height: inherit;
	position: relative;
	background: #DBD3A4;

	border-radius: 100%;

	transform-origin: 50% 50%;

	transition-property: transform;
	transition-timing-function: ease-in-out;
}